@import "reset"

=centerer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

//vars

//COLORS////////////////////////
$light-purple: #E4E2EB
$grey: #f5f4f7
$main-bg: #FAFBF3

//Typography///////////////////
$condensed: "brandon-grotesque", "refrigerator-deluxe", "Proxima-nova", sans-serif
$text: "proxima-nova", "Proxima Nova", helvetica, arial

html
  height: 100%
  width: 100%
  background: #57546c

body
  background: $main-bg
  font-family: $text
  letter-spacing: .5px
  font-size: 16px
  line-height: 1.8
  color: #57546c
  overflow-x: hidden
  margin: 10px
  padding: 80px 80px

p
  margin-bottom: 22px

.accent
  color: #766A96

.logo
  display: block
  margin-bottom: 2px

a
  color: #EB4F48
  text-decoration: none
  transition: color .3s ease-in
  &:hover
    color: #57546c

.logo
  img
    width: 100px

.arrow
  fill: transparent
  width: 12px
  height: 12px
  stroke: #57546c
  stroke-width: 4
  opacity: 0
  transform: translateX(0px)
  transition: all .3s ease-in-out



.signup
  position: absolute
  top: 40px
  right: 60px
  text-transform: uppercase
  font-weight: 400
  letter-spacing: 2px
  transition: all .3s ease-in-out
  &:hover
    .arrow
      transform: translateX(10px)
      opacity: 1



h3
  font-size: 16px
  letter-spacing: 0.5px
  margin: 0 0 22px
  font-weight: 600
  &::before
    content: ""
    background: #EB4F48
    height: 1px
    width: 18px
    display: inline-block
    margin-right: 4px




//PAGE INTRO///////////
.intro
  width: 50%
  margin-bottom: 44px
  h1
    font-size: 84px
    text-transform: uppercase
    font-weight: 900
    letter-spacing: -2px
    line-height: .9em
    margin-bottom: 22px



.fuz-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100%


.pane
  display: flex
  flex: 1
  padding: 40px


.credit-card
  background: $light-purple
  border-right: 1px solid #fff
  h3
    &::before
      content: ""
      background: #EB4F48
      height: 1px
      width: 18px
      display: inline-block
      margin-right: 4px

.results
  flex-direction: column
  background: $grey


#results-description
  display: flex
  flex-directrion: row
  background: #fff
  margin-bottom: 44px
  .results-description-text
    flex: 0 0 80%
    padding: 20px
    font-size: 14px
    background: $light-purple
    p
      margin: 0


#big-num-wrapper
  flex: 0 0 20%
  display: flex
  padding: 0 10px
  border: 1px solid $light-purple
  justify-content: center
  #big-num
    font-family: $condensed
    font-size: 34px
    letter-spacing: -1px
    font-weight: 500
    display: flex
    align-items: center
    justify-content: center

//FORM STYLES////////////////////////////

form
  display: flex
  flex: 1
  flex-direction: column
  color: #57546c
  font-size: 14px

  .input-wrap
    position: relative
    float: left
    background: $light-purple

    input
      padding: 2.75em 20px 2em
      position: relative
      width: 100%
      border: none
      margin: 0 0 1px
      background: lighten($grey, 2%)
      color: #A79EBC
      transition: all .3s ease-in

    select
      outline: none
      padding: 2.75em 20px 2em
      position: relative
      width: 100%
      border: none
      margin: 0 0 1px
      background: lighten($grey, 2%) URL('./images/arrow-down.svg') no-repeat 95% center
      background-size: 4%
      color: #A79EBC
      -webkit-appearance: none
      -moz-appearance: none
      border-radius: none


    option
      padding: .75em 20px
      background: lighten($grey, 2%)
      &:hover
        background: $light-purple

    label
      position: absolute
      top: 10px
      left: 20px
      color: lighten(#57546c, 2%)
      z-index: 100
      font-size: 8px
      text-transform: uppercase
      letter-spacing: 2px
      transform: translate3d(0, 0, 0)
      transition: all 0.2s ease-in-out


//INPUT TYPE NUMBER STYLES////////////////

input[type=number]
  -moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
  -moz-appearance: number-input

//FORM RADIO STYLES/////////////////////

.radio-wrap
  width: 50%
  float: left
  border: 1px solid $grey
  padding: 1.5em
  background: $light-purple
  input[type="radio"]
    display: none

input[type="radio"] + label em
  display: inline-block
  width: 22px
  height: 22px
  padding: 2px
  margin: 0px 8px 0 0
  vertical-align: middle
  cursor: pointer
  border-radius: 50%
  border: 2px solid #a79ebc
  float: left

input[type="radio"] + label em
  background-color: #fff
  transition: background .3s ease-in

input[type="radio"]:checked + label em
  background-color: #9787bf
  box-shadow: inset -1px 1px 1px rgba(black, 25%)
  border: 2px solid darken(#a79ebc, 2.5%)
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);



//BTN STYLES/////////////////////
.btn
  background: #A79EBC
  border: 1px solid darken(#A79EBC, 2.5%)
  color: $main-bg
  font-size: 12px
  padding: 1.2rem 5rem
  text-transform: uppercase
  letter-spacing: .2em
  font-weight: 400
  margin: 20px 0 20px 0
  border-radius: 2px
  transition: all .3s ease-in
  font-family: $condensed
  &:hover
    box-shadow: 0 0 0 5px #c2bcd1 inset, 0 0 0 150px rgba(#57546c, .5) inset
    border-color: darken(#A79EBC, 3%)
    color: lighten(#dcdeea, 5%)



::-webkit-input-placeholder  /* Chrome/Opera/Safari */
  color: lighten(#57546c, 35%)
  font-size: 10px
  letter-spacing: 2px

::-moz-placeholder  /* Firefox 19+ */
  color: lighten(#57546c, 35%)
  font-size: 10px
  letter-spacing: 2px

input:hover
  background: #fff !important


input:focus
  outline: none
  background: #fff !important
  + label
    transform: translate3d(0, -5px, 0)
    color: lighten(#57546c, 35%)
    opacity: 0.75
    font-size: 7px


//FOOTER////////////////////
footer
  padding: 0px
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative
  .copyright
    margin-bottom: 0px
    padding: 20px 50px
    font-size: 10px
    letter-spacing: 2px
    line-height: 40px
    text-transform: uppercase
    a
      font-weight: 700

//SOCIAL ICONS FOOTER//////////////////////
.social-footer-links
  display: flex
  flex-direction: row

.box-icon
  width: 80px
  height: 80px
  position: relative
  display: inline-block
  background: #A79EBC
  background: $grey
  border-left: 1px solid $main-bg
  margin-top: 1px
  transition: background .3s ease-in-out, color .4s ease-in
  overflow: hidden
  &:hover
    background: #fff
    svg
      fill: #eb4f48

.social-icon
  @include centerer
  width: 24px
  height: 24px
  fill: #A79EBC

.angel-icon
  width: 20px
